 .top_nav {
     background-color: #e11b22;
 }

 .margin {
     margin-top: 5rem;
     margin-bottom: 5rem;
 }

 .cat_links a:hover {
     text-decoration: underline !important;
     text-transform: capitalize;
     color: rgb(117, 132, 154) !important;
 }
 .cat_container a{
    line-height: 13px;
    color: #2864be !important;
    font-size: 14px !important;
 }
 .card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
 }