 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
 }

 body {
     display: flex;
     height: 100vh;
     justify-content: center;
     align-items: center;
     background: linear-gradient(123deg, #71b8e7, #9b59b6);
 }



 .form_box {
     background-color: rgba(255, 255, 255, 0.466);
     padding: 20px;
     /* border-radius: 5px; */
     border-radius: 7px;
/* border-bottom: 3px solid rgb(12, 6, 99); */
box-shadow: 12px 12px 0px rgba(236, 235, 235, 0.418) !important;
 }

 .submit_btn {
     background: linear-gradient(123deg, #71b8e7, #9b59b6);
     border: 1px solid transparent;
     width: 100%;
     border-radius: 7px;
     border: none;
     color: white;
     font-weight: bold;
     transition: 0.3s;
 }
 .submit_btn:hover{
     background: linear-gradient(123deg, #439fdd, #5d2772);
    
 }